:root {
    --primary-color: #2bc1c8;
    --secondary-color: #29c9b3;
    --intermediate-color: #8ade99;
    --darker-color: #dcdc94;
    background-color: #e2e2ab;
}

body {
    background-color: var(--secondary-color);
    color: var(--darker-color);
}

* {
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0.2rem;
    padding: 0.2rem;
}


h1 {
    font-size: 2rem;
    text-align: center;
}

.containerBody {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    height: 500px;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: auto;
    padding: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    box-shadow: 10px 5px 5px var(--primary-color);
}

button {
    height: 4rem;
    width: clamp(150px, 40%, 300px);
    font-size: 2rem;
    background-color: var(--darker-color);
}

label,
input {
    width: 60%;
    height: 50px;
    margin: 1rem;
    text-align: center;
    font-size: 1.8rem;
}

label {
    width: 60%;
    display: block;
}

input {
    border-radius: 10px;
    box-shadow: 10px 5px 5px var(--primary-color);
    color: lightblue;
}

input:focus {
    color: var(--primary-color);
}

#valueField {
    font-weight: bold;
}

#resultField {
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;

}

.labelInputContainer {
    display: flex;
    flex-wrap: wrap;
}